.bell-icon {
  animation-name: bell-ringing;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bell-ringing {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}
