<div class="row">
  <div
    class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto align-self-center text-center py-4"
  >
    <img src="assets/img/thankyou.png" alt="" class="mw-100 mx-auto my-4" />
    <h1 class="mb-4 text-color-theme">Successful!</h1>
    <p class="text-muted mb-4">
      Booking ID: {{ idBooking }} <br />
      Branch:{{ branchBooking?.name }} <br />
      Time: {{ timeBooking | date : "h:mm a dd/MM/YYYY" }} <br />
    </p>

    <a routerLink="/home" class="btn btn-lg btn-default w-100 shadow"
      >Back to Home</a
    >
  </div>
  <div class="col-12 text-center mt-auto">
    <div class="row justify-content-center footer-info">
      <div class="col-auto"></div>
    </div>
  </div>
</div>
