.custom_time-booking {
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.custom-card,
.active {
  background-color: rgb(255 255 255 / 54%);
}

.tag {
  color: black;
  font-size: 14px;
}
