<!-- log information -->
<div class="row">
  <div class="col-12 col-md-8 col-lg-4 mx-auto">
    <div class="card shadow-sm mb-4">
      <div class="card-header">
        <h6 class="my-1">Guide Booking</h6>
      </div>
      <div class="card-body bg-light">
        <ul
          class="list-group list-group-flush w-100 bubble-sheet log-information"
        >
          <li class="list-group-item">
            <div class="avatar avatar-15 border-danger rounded-circle"></div>
            <p>
              <span class="text-color-theme">Step 1: Choose Branch</span>
              <br /><small class="text-muted">Example: Chi Nhánh Hà Đông</small>
            </p>
          </li>
          <li class="list-group-item">
            <span class="avatar avatar-15 border-warning rounded-circle"></span>
            <p>
              <span class="text-color-theme">Step 2: Choose Services</span>
              <br /><small class="text-muted">Example: CẮT GỘI KID COMBO</small>
            </p>
          </li>
          <li class="list-group-item">
            <span class="avatar avatar-15 border-success rounded-circle"></span>
            <p>
              <span class="text-color-theme">Step 3: Choose Time Booking</span>
              <br /><small class="text-muted"
                >Example: 5/6/2023 2:40:00 PM</small
              >
            </p>
          </li>
          <li class="list-group-item">
            <span class="avatar avatar-15 border-primary rounded-circle"></span>
            <p>
              <span class="text-success"
                >Wow...!!! What A Journey So Far...!!!</span
              >
            </p>
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col"></div>
          <div class="col-auto"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<button
  class="btn btn-default py-2 w-100"
  routerLink="/branches"
  style="border-radius: 4px"
>
  Go to Booking <i class="bi bi-arrow-right-short"></i>
</button>
